@tailwind base;
@tailwind components;
@tailwind utilities;

/* Disable tap highlight color */
a {
    -webkit-tap-highlight-color: transparent;
    tap-highlight-color: transparent;
  }
  button {
    /* Other button styles */
    outline: none;
  }
  
  button:focus {
    outline: none;
  }